<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resources</title>
  </head>
  <body>
    {% if resource_list %}
      <ul>
      {% for resource in resource_list %}
        <li><a href="{% url 'booking:show' resource.id %}">{{ resource.label }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No resources are available.</p>
    {% endif %}
  </body>
</html>
