{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resource</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booking/style.css' %}">
  </head>
  <body>
    <h1>{{ resource.label }}</h1>
    <p>
      <u>Type:</u> {{ resource.get_type_display }}<br/>
      <u>Location:</u> {{ resource.location }}<br/>
      <u>Capacity:</u> {{ resource.capacity }}<br/>
    </p>
  </body>
</html>
